{% extends 'index.html' %}
{% block body %}
    <a href="{{ url_for('sections') }}" class="logo">Fish</a>
    <div class="wrapper">
        <form class="register-form" method="post" autocomplete="off">
            <h2>{{ name }}</h2>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Подтвердить</button>
            {% if error %}
                <div class="message">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}